.navbarCenter {
  align-items: center;
}
.loginRight {
  float: right;
  margin-left: 50%;
}
.slider {
  background-image: url("./banner.png");
}
.slider img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.carousel-caption {
  padding-bottom: 100px !important;
}
.carousel-caption h2 {
  color: white !important;
  background-color: rgb(72, 72, 197);
}
.footer {
  background-image: url("./banner.png");
  padding: 10px 0;
  text-align: center;
  background-position: left;
  background-size: cover;
  background-origin: border-box;
}
.footer h2 {
  color: white !important;
  margin-top: 100px;
}
.icon {
  margin-top: 60px;
  font-size: 42px;
  color: white;
}

.last-part {
  background-color: rgb(123 80 235);
  margin-top: 182px;
  height: 3px;
}
.copyright {
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}
